In [2]:
import pandas as pd

In [9]:
county = pd.read_excel('ZIP_COUNTY_062024.xlsx')
tract = pd.read_excel('ZIP_TRACT_062024.xlsx')
tract_zip = pd.read_excel('./TRACT_ZIP_062024.xlsx')
cbsa = pd.read_excel('./ZIP_CBSA_062024.xlsx')
county_sub = pd.read_excel('./ZIP_COUNTY_SUB_062024.xlsx')

((54553, 8), (188984, 8), (188984, 8), (47491, 8), (119188, 8))

In [4]:
county[county["ZIP"]==7013]

,ZIP,COUNTY,USPS_ZIP_PREF_CITY,USPS_ZIP_PREF_STATE,RES_RATIO,BUS_RATIO,OTH_RATIO,TOT_RATIO
2867,7013,34031,CLIFTON,NJ,1.0,1.0,1.0,1.0

In [13]:
tract.ZIP.value_counts()

ZIP
926      64
959      54
957      54
60647    53
11236    48
         ..
99836     1
99833     1
99832     1
99830     1
99829     1
Name: count, Length: 39371, dtype: int64

In [8]:
tract_zip.head()

,TRACT,ZIP,USPS_ZIP_PREF_CITY,USPS_ZIP_PREF_STATE,RES_RATIO,BUS_RATIO,OTH_RATIO,TOT_RATIO
0,1001020100,36067,PRATTVILLE,AL,1.000000,1.0000,1.00,1.000000
1,1001020200,36067,PRATTVILLE,AL,1.000000,1.0000,1.00,1.000000
2,1001020300,36067,PRATTVILLE,AL,1.000000,1.0000,1.00,1.000000
3,1001020400,36067,PRATTVILLE,AL,0.024483,0.5875,0.25,0.071003
4,1001020400,36066,PRATTVILLE,AL,0.975517,0.4125,0.75,0.928997